#root {
  display: flex;
  justify-content: center;
}
.todo {
  width: 40%;
}

.head {
  font-size: 130px;
  text-align: center;
  letter-spacing: 2px;
  color: #ead7d7;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search {
  width: 85%;
  box-shadow: 3px 3px 10px black;
}
input[type="text"] {
  width: 90%;
  height: 30px;
  font-size: 20px;

  padding: 10px;
  border: none;
}

input[type="text"]:focus {
  outline: none;
}

.list {
  width: 90%;
  margin-top: 10px;
}

.main-items {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 50px;
  height: 30px;
  margin-top: 10px;
}
.title {
  font-size: 25px;
  margin-top: 5px;
}
.delete {
  margin-left: auto;
  margin-right: 4px;
  background-color: transparent;
  border: none;
}
.underLine {
  text-decoration: line-through;
  color: #dddddd;
}
.footer {
  width: 85%;
  display: flex;
  margin-top: 10px;
}
.totalItem {
  flex-grow: 0.5;
}

.details {
  display: inline-block;
  flex-grow: 1;
}
.details > button {
  background-color: transparent;
  border: none;
}
.detailsNone {
  display: none;
}
